################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HamroAirway/FileContentIndex
/.vs/HamroAirway/v17/.suo
/.gitignore
/obj/Debug/HamroAirway.csproj.AssemblyReference.cache
